.Thread-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon-arrow-left{
    padding-left: 16px;
    cursor: pointer;
    color: #A8A29E;
  }
  
  .icon-arrow-right{
    padding-left: 16px;
    display: none;
    cursor: pointer;
    color: #A8A29E;
  }
  
  .new-chat{
    padding-right: 16px;
    cursor: pointer;
    color: #A8A29E;
  }