.message-group {
    position: relative;
    margin-bottom: 0.25rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all;
    justify-content: baseline;
  }

  .message-content{
    border-radius: 0.5rem;
    background-color: black;
  }
  
  .message-content:hover {
    background-color: #333;
  }
  
  .message-group:hover .overlay {
    background-color: #333;
  }
  
  .message-content {
    position: relative;
    z-index: 10;
    padding: 1rem;
  }
  
  .message-time {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.75rem;
    line-height: 1.25;
    color: #A8A29E;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  .message-title {
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.75rem;
  }
  
  .message-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.75rem;
    margin-top: 0.6rem;
    margin-bottom: 0;
    width: 85%;
  }
  
  .icon-container {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 20;
    padding: 0.25rem;
    color: #A8A29E;
    visibility: hidden;
  }

  .hovered {
    /* Votre style pour le parent lors du survol de l'enfant */
    background-color: #333;
}
.hoveredbis {
    border-radius: 0.5rem;
    background-color: #3e3d3d; /* Example for bg-gray-200 */
  }

  
  .message-group:hover .icon-container {
    visibility: visible;
  }

  .selected{
    background-color: #333;
  }

  .icon-menu{
    position: absolute;
    top: 90%;
    left: 28%;
    z-index: 20;
    width: auto;
    border-radius: 0.5rem;
    border: 0.5px solid #A8A29E;
    background-color: black; /* Remplacer par votre couleur de fond */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 0.75rem;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: black;
    border: none;
    border-radius: 0.5rem;
}

.menu-item:hover {
    background-color: #333; /* bg-gray-100 */
}

.clean-thread{
    color: #A8A29E; /* text-black */
    width: 100%;
}

.delete-thread{
    color: #ea5e5e;
    width: 100%;
}

  
  