<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AI-chat</title>
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/modal.css">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<link rel="stylesheet" href="/static/highlight/styles/atom-one-dark.min.css">
<script src="/static/highlight/highlight.min.js"></script>
</head>
<body class="black">
<div class="container border" id="grid">
  <div class="header">
    <div class="header-sections-container">
        <div class="Thread-icon header-section">
          {% include 'Thread-icones.html' %}
        </div>
        <div class="Thread-title header-section border-left border-right" id="Thread-title"></div>
        <div class="Settings-icon header-section">
          {% include 'Settings-icon.html' %}
        </div>
    </div>
  </div>
  <div class="icones border-top supp-border-right">
    {% include 'icones.html' %}
  </div>
  <div class="Threads border border-left" id="Threads">
  </div>
  <div class="Chat border supp-border-right supp-border-left" id="Chat">
    {% include 'Chat.html' %}
  </div>
  <div class="Settings border supp-border-right" id="Settings">
    {% include 'Thread_settings.html' %}
  </div>
  <div class="footer border-left">
    {% include 'footer.html' %}
  </div>
</div>
{% include 'modal.html' %}
<div class="notification" style="display: none;">
  <span class="notification-icon">✔</span>
  <div class="notification-content">
      <h4 class="notification-title">Success!</h4>
      <p class="notification-message"></p>
  </div>
  <button class="notification-close">×</button>
</div>

<script src="../static/js/icones.js"></script>
<script src="../static/js/Chat.js"></script>
<script src="../static/js/thread.js"></script>
<script src="../static/js/thread_settings.js"></script>
<script>hljs.highlightAll();</script>
</body>
</html>
