<link rel="stylesheet" href="../static/css/Thread-icones.css">
<div class="icon-arrow-left" id="icon-arrow-left">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-muted-foreground rotate-180">
      <rect width="18" height="18" x="3" y="3" rx="2" ry="2"></rect>
      <path d="M9 3v18"></path><path d="m16 15-3-3 3-3"></path>
    </svg>
</div>

<div class="icon-arrow-right" id="icon-arrow-right">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-4 text-muted-foreground rotate-180">
        <rect width="18" height="18" x="3" y="3" rx="2" ry="2"></rect>
        <line x1="15" x2="15" y1="3" y2="21"></line>
        <path d="m8 9 3 3-3 3"></path>
    </svg>
</div>

<div class="new-chat">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-muted-foreground">
        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
        <path d="M18.5 2.5a2.12 2.12 0 0 1 3 3L12 15l-4 1 1-4Z"></path>
      </svg>
</div>