<link rel="stylesheet" href="../static/css/Thread_settings.css">
<div class="thread-settings-container">
    <div class="field">
        <label for="thread-title-input" class="label">Title</label>
        <input type="text" id="thread-title-input" class="input-thread-title">
    </div>
    <div class="field">
        <label for="thread-id" class="label">Threads ID</label>
        <span id="thread-id" class="thread-id"></span>
    </div>
</div>
<div class="toolbar">
    <div class="toolbar-left">
        <button class="toolbar-button">
            <svg class="toolbar-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <path d="m6 9 6 6 6-6"></path>
            </svg>
        </button>
        <span class="toolbar-text">Assistant</span>
    </div>
    <div class="toolbar-icon">
        <svg class="dots-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <circle cx="12" cy="12" r="1"></circle>
            <circle cx="12" cy="5" r="1"></circle>
            <circle cx="12" cy="19" r="1"></circle>
        </svg>
    </div>
</div>
<div class="toolbar">
    <div class="toolbar-left">
        <button class="toolbar-button">
            <svg class="toolbar-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <path d="m6 9 6 6 6-6"></path>
            </svg>
        </button>
        <span class="toolbar-text">Model</span>
    </div>
    <div class="toolbar-icon">
        <svg class="dots-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <circle cx="12" cy="12" r="1"></circle>
            <circle cx="12" cy="5" r="1"></circle>
            <circle cx="12" cy="19" r="1"></circle>
        </svg>
    </div>
</div>

